pipeline/Blob_to_DB.json
{
	"name": "Blob_to_DB",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [dbo].[credentials]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "credentials"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_each_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceTarget": {
										"value": "@item().source_target",
										"type": "Expression"
									},
									"ServerName": {
										"value": "@item().server_name",
										"type": "Expression"
									},
									"DbName": {
										"value": "@item().database_name",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"DbSchema": {
										"value": "@item().db_schema",
										"type": "Expression"
									},
									"LoginID": {
										"value": "@item().login_id",
										"type": "Expression"
									},
									"Password": {
										"value": "@item().password",
										"type": "Expression"
									},
									"JsonMappingNlob": {
										"value": "@item().json_mapping_blob",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}